TZ=<your timezone, e.g Berlin/Europe>
FTLCONF_REPLY_ADDR4=<ip of your host device>
WEBPASSWORD=secure
DNSSEC=true
VIRTUAL_HOST=<virtual host of your pi>
WEBTHEME=default-darker
HOSTNAME=<host name of your pi>