POSTGRES_PASSWORD=###AUTHENTIK_POSTGRESQL__PASSWORD###
POSTGRES_USER=###AUTHENTIK_POSTGRESQL__USER###
POSTGRES_DB=###AUTHENTIK_POSTGRESQL__DB###

AUTHENTIK_REDIS__HOST=###AUTHENTIK_REDIS__HOST###
AUTHENTIK_POSTGRESQL__HOST=###AUTHENTIK_POSTGRESQL__HOST###
AUTHENTIK_POSTGRESQL__USER=###AUTHENTIK_POSTGRESQL__USER###
AUTHENTIK_POSTGRESQL__NAME=###AUTHENTIK_POSTGRESQL__NAME###
AUTHENTIK_POSTGRESQL__PASSWORD=###AUTHENTIK_POSTGRESQL__PASSWORD###
AUTHENTIK_SECRET_KEY=###AUTHENTIK_SECRET_KEY###